@import "../../helpers/constants.scss";

.tabs-wrapper {
  border: 2px solid transparent;
}

.tabs-wrapper:focus {
  outline: none;
}

[data-whatinput="keyboard"] {
  .tabs-wrapper:focus {
    border: 2px solid $aqua;
  }
}

.tabs {
  border-bottom: 1px solid $grey-light;
  display: flex;
  font-size: 16px;
  list-style: none;
  margin: 0;
  padding: 0;
}
